.container {
  height: 93vh;
  width: 100%;
  background: linear-gradient(white, white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 100%;
  height: 10vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav > li {
  margin-left: 15px;
  list-style-type: none;
  color: brown;
}

.nav > li:hover {
  color: crimson;
}

.introText {
  width: 90%;
  height: 90%;
  border: 0px solid whitesmoke;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.introText > main {
  flex: 0 0 40%;
  height: 100%;
  margin: 0px 5px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.introText > main:nth-child(1) > h1 {
  padding: 0px 10px;
  font-size: 50px;
  color: brown;
  margin-bottom: 10px;
}

.introText > main:nth-child(1) > button {
  width: 150px;
  height: 35px;
  background: firebrick;
  color: white;
  margin-left: 19px;
  margin-top: 15px;
}

.introText > main:nth-child(1) > p {
  padding: 0px 20px;
  color: #303030;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.introText > main:nth-child(2) {
  height: 90%;
  width: 100%;
  object-fit: cover;
}

.contactUsDiv {
  width: 100%;
  height: 100px;
  background: "";
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px;
}

.contactUsDiv > button {
  width: 200px;
  height: 50px;
  background: firebrick;
  color: white;
  margin-left: 50px;
}

.contactUsDiv > button:hover {
  color: lavender;
}

.explore {
  height: 70vh;
  width: 100%;
  background: linear-gradient(to bottom right, rosybrown, white, white);
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageDiv {
  width: 95%;
  height: 80%;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageCont {
  height: 80%;
  flex: 0 0 25%;
  background: brown;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

.imageIn {
  position: relative;
  width: 100%;
  flex: 0 0 70%;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.imageDes {
  width: 100%;
  flex: 0 0 30%;
  height: 30%;
  background-color: whitesmoke;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0px 0px 10px 10px;
}

.imageDes > p {
  font-size: 14px;
  color: #404040;
}

.displaySection {
  height: 100vh;
  width: 100%;
  background-color: "";
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 25px 0px;
  background: linear-gradient(to bottom right, white, white, rosybrown);
}

.displaySection > section {
  flex: 0 0 47%;
  height: 85%;
  background-color: "";
  position: relative;
}

.displaySection > section:nth-child(1) {
  position: relative;
 
}

.displaySection > section:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: transparent;
}

.displaySection > section:nth-child(2) > div {
  flex: 0 0 45%;
  width: 100%;
  background: "";
}

.displaySection > section:nth-child(2) > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displaySection > section:nth-child(2) > div:nth-child(1) > h1 {
  font-size: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.displaySection > section:nth-child(2) > div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.displaySection > section:nth-child(2) > div:nth-child(2) > section {
  flex: 0 0 45%;
  height: 100%;
  border-radius: 5px;
  background: "";
}

.displaySection
  > section:nth-child(2)
  > div:nth-child(2)
  > section:nth-child(1) {
  background-image: url(../images/2.jpg);
  background-size: cover;
  transform: skewY(0deg);
}

.displaySection
  > section:nth-child(2)
  > div:nth-child(2)
  > section:nth-child(2) {
  background-image: url(../images/1.png);
  background-size: cover;
  transform: skewY(0deg);
}

@media (max-width: 600px) {
  .introText {
    flex-direction: column;
    width: 98%;
  }
  .introText > main {
    flex: 0 0 50%;
    width: 98%;
  }

  .introText > main:nth-child(1) {
    align-items: center;
  }

  .introText > main:nth-child(1) > button {
    margin: 15px 0px;
  }

  .displaySection {
    flex-direction: column;
  }
  .displaySection > section {
    width: 97%;
  }
  .imageDiv {
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: flex-start;
  }
  .imageCont {
    flex: 0 0 250px;
  }

  .contactUsDiv > button {
    margin-left: 10px;
  }
}
